[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
gunicorn = "*"
django-environ = "*"
dj-database-url = "*"
heroku = "*"
django-heroku = "*"
whitenoise = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
